<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
    </div>
    <ul class="nav navbar-nav navbar-left">
      <!--<button (click)="calendarSelect()">Select Items</button>-->
      <li class="active" (click)="showListItems()"><span class="glyphicon glyphicon-user"></span> Show Menu</li>
      <li class="active" (click)="calendarSelect()"><span class="glyphicon glyphicon-calendar"></span> Choose Menu</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active" (click)="showListItems()"><span class="glyphicon glyphicon-user"></span> Welcome <span>{{loginService.username}}</span></li>
      <li class="active" (click)="logout()"><span class="glyphicon glyphicon-user"></span> Logout</li>
    </ul>
  </div>
</nav>

<h3 class="admin_msg">{{adminMsg}}</h3>
<div *ngIf="loginService.userRole==='admin'" class="admin_section col-lg-12">
<div class="col-lg-offset-2 col-lg-6">
  <div class="panel panel-primary admin_section_form">
    <div class="panel-heading">Add Items <h3>{{status}}</h3></div>
    <div class="panel-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="name" formControlName="name">
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="number" class="form-control" id="price" placeholder="price" formControlName="price">
            </div>
            <div class="form-group">
              <label for="name">Type</label>
              <select formControlName="category" class="form-control">
                <!--<option [ngValue]="null">Select Category</option>-->
                <option *ngFor="let option of itemTypes"
                        [ngValue]="option.type">{{option.type}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="avatar">Upload Item</label>
              <input type="file" id="avatar" (change)="readUrl($event)" #fileInput>
              <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>

              <img [src]="imgUrl" *ngIf="imgUrl" height="50" width='50'>
            </div>
          </div>
          <button class="submit_btn" type="submit" [disabled]="form.invalid" class="btn btn-success">Submit <i
            class="fa fa-spinner fa-spin fa-fw"></i></button>

        </div>
      </form>
    </div>
    <!--<div class="panel-footer">Panel Footer</div>-->
  </div>
</div>
  <div class="col-lg-4">

  </div>
</div>


<div class="row" *ngIf="appService.images.length>0;else noImages">
  <div class="col-lg-6" *ngIf="(showCollenderInterface &&  showStarter) || (showItemsOnly)">
    <h3> Starters</h3>
    <div class="img_list_items">
      <div class="panel panel-default">
        <div class="panel-heading"> Images List - Starter</div>
        <div class="panel-body">
          <div *ngFor="let img of appService.images;let i = index"  [ngClass]="{'img_list':(startsAvail) && (img.category==='Starter')}">
            <img [src]="img.url" height="100" width='250' *ngIf="(showItemsOnly && img.category==='Starter') || ((startsAvail) && (img.category==='Starter')) || ((showCollenderInterface &&  img.category==='Starter'))">
            <h3 class="img_footer" *ngIf="img.category==='Starter'">
              {{img.title}}
              <label>Price: {{img.price}}</label>
              <span class="glyphicon glyphicon-trash" (click)="deleteImg(img.url)"></span>
              <input class="form-control" type="checkbox"  (change)="itemSelected(img)" />
            </h3>
          </div>
          <div *ngIf="(!startsAvail)">
            Starters not added yet
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-lg-6" *ngIf="(showCollenderInterface &&  showMainCourse) || (showItemsOnly)">
    <h3> Main course</h3>
    <div class="img_list_items">
      <div class="panel panel-default">
        <div class="panel-heading"> Images List - Main Course</div>
        <div class="panel-body">
          <div *ngFor="let img of appService.images;let i = index"  [ngClass]="{'img_list':(startsAvail) && (img.category==='MainCourse')}">
            <img [src]="img.url" height="100" width='250' *ngIf="(showItemsOnly && img.category==='MainCourse' ) || ((mainCourseAvail) && (img.category==='MainCourse')) || ((showCollenderInterface) && (img.category==='MainCourse'))">
            <h3 class="img_footer" *ngIf="img.category==='MainCourse'">
              {{img.title}}
              <label>Price: {{img.price}}</label>
              <span class="glyphicon glyphicon-trash" (click)="deleteImg(img.url)"></span>
              <input class="form-control" type="checkbox"  (change)="itemSelected(img)" />
            </h3>

          </div>
          <div *ngIf="(!mainCourseAvail)">
            Main Course not added yet
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<ng-template #noImages>
   <h3 class="no_data"> Admin not added any food  items</h3>
  <hr/>
</ng-template>

<!--<p-schedule [events]="events"></p-schedule>-->
<!--<angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>-->


<!--<p>Display event : {{displayEvent | json}}</p>-->
<div *ngIf="calendarOptions && showCollenderInterface">
  <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)"
                   (eventDrop)="updateEvent($event.detail)"
                   (eventResize)="updateEvent($event.detail)"
                   (clickButton)="clickButton($event.detail)"
                   [(eventsModel)]="events"
  ></ng-fullcalendar>
</div>
<hr/>
<div *ngIf="itemsSelected">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Dates Between</th>
      <th>Total Price for selected items</th>
      <th>Selected Item List</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of eventPriceCal;let i = index">
      <td>{{item.startDate}}-{{item.endDate}} {{i+1}}week</td>
      <td>{{item.price}}</td>
      <td class="link_item" (click)="itemToShow(item.selectedItem)"> <span>click here</span></td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedItemsToShow.length>0">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Selected date</th>
      <th>Name of Item</th>
      <th>Price</th>
      <th>Category</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of selectedItemsToShow;let i = index">
      <td>{{item.selectedDate}}</td>
      <td>{{item.item.title}}</td>
      <td>{{item.item.price}}</td>
      <td>{{item.item.category}}</td>
    </tr>
    </tbody>
  </table>
</div>
