.img_list{
  float:left;
  border: 1px solid gray;
  padding: 4px;
  margin-left: 17px;
}
.glyphicon-trash{
  color:red;
  cursor: pointer;
  margin-left: 39px;

}
.admin_section{
  display: block;
}
.admin_section_form{
  margin-left:15px;
}
:host /deep/.fc-day-grid-event .fc-time{
  visibility: hidden !important;
}
nav li{
  padding-left:12px;
  cursor: pointer;
}
.no_data{
  text-align: center;
}
.admin_msg{
  color:red;
  text-align: center;
}
.link_item{
  color:dodgerblue;
  text-decoration: underline;
}
.submit_btn{
  margin-left: 12px;
}
